@import "tailwindcss";

:root {
  --background: #fff;
  --blue1: #052659;
  --text-1: #000;
  --text-2: #fff;
  --gradient-0: #071531;
  --gradient-1: #005E97;
}

@theme inline {
  --color-bg: var(--background);
  --color-b1: var(--blue1);
  --color-t1: var(--text-1);
  --color-t2: var(--text-2);
  --color-g0: var(--gradient-0);
  --color-g1: var(--gradient-1);
  --font-poppins: var(--font-poppins);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
}
